
.editor {
  min-width:fit-content;
  min-height: fit-content;
  display: flex;
  background-color: white;
  align-items: center;
  margin: 10px;
}

.drawing-stage {
  width: fit-content;
  height: fit-content;
  border: black solid 1px;
  margin: 20px;
}

.toolbar {
  width: 150px;
  height: 90%;
  border: rgb(175, 175, 175) solid 1px;
  border-radius: 10px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar > * {
  margin: 0.5rem 0;
}

.color-picker {
  margin-left: 0.3rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
}

.thumbnail-container > * {
  margin: 10px;
}

button {
  padding: 0.5rem;
  background-color: white;
  border: rgb(45, 173, 228) solid 2px;
  border-radius: 10px;
  width: 80%;
}

button:active {
  background-color: grey;
  color: white;
}

.full-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity-range {
  width: 90%;
  border: black solid 1px;
}

.font-selector {
  width: 90%;
  padding: 5px;
  border: rgb(45, 173, 228) solid 2px;
  border-radius: 10px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 0.5rem;
  background-color: white;
  border: rgb(45, 173, 228) solid 2px;
  border-radius: 10px;
  cursor: pointer;
}

.custom-file-upload:active {
  background-color: grey;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(26, 104, 104);
  height: 10vh;
}

.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: rgb(132, 197, 194);
  min-width:fit-content;
  min-height: fit-content;
}

.logo {
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  color: white;
  align-self: center;
  font-size: x-large;
}

.form-container {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.form-container > form > div > input {
  margin: 0.2rem 0;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.form-container > form > div > label {
  margin: 0.2rem 0;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.form-container > form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.form-container > form > h1,button {
  align-self: center;
}


a {
  text-decoration: none;
  color: #fafafa;
}

nav > ul {
  display: flex;
  align-self: center;
  list-style: none;
}

li {
  padding: 0 1rem;
}

