.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
}

.editor {
  display: flex;
  background-color: white;
  align-items: center;
  margin: 10px;
}

.drawing-stage {
  width: fit-content;
  height: fit-content;
  border: black solid 1px;
  margin: 20px;
}

.toolbar {
  width: 100px;
  height: 90%;
  border: grey solid 1px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}